*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
 padding: 10vw;
 height: 100%;
}
#contant h1{
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10vw;
    font-weight: 900;
    opacity: 0.7;
    text-align: center;
    top: 50%;
    


}

.btn{
  
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 30px 2px;
  cursor: pointer;

   
    background-color: rgb(232, 251, 28);
    position: relative;
    animation-name: btnani;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}
@keyframes btnani {
    0%   { left:-10%; }
    
    100% { left:100%; }
  }

@media screen and (max-width: 600px) {
    div.btn {
      display: none;
    }
  }  


